@charset "UTF-8";
html, body {
  margin: 0;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  z-index: 999;
}

.container {
  position: relative;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.logo_menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.alert {
  width: 250px;
  height: 25px;
  display: flex;
  align-self: center;
}

.top-menu {
  position: relative;
  margin: 0 auto 0 auto;
  width: 100%;
  position: fixed;
  background: #f9f9f9;
  box-shadow: 2px 2px 4px 2px rgba(36, 36, 36, 0.52);
  z-index: 9999;
}

.fancyNav {
  position: relative;
  float: right;
  line-height: 0.1;
}

nav ul li {
  display: inline-block;
}

.top-menu ul li {
  list-style-type: none;
  letter-spacing: 0.2px;
  padding: 0 5px;
}

.top-menu ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.5s;
}

.top-menu ul li.menu-item-has-children a:after {
  content: "▼";
  font-size: 10px;
  padding: 0 1px;
}

.top-menu ul li a:hover {
  color: #fd926d;
}

.top-menu ul li ul {
  display: none;
  position: absolute;
}

.top-menu ul li ul li {
  margin: 10px 0px;
}

.top-menu ul li:hover ul {
  color: black;
  display: flex;
  flex-direction: column;
  padding: 10px 2px 2px 2px;
  background: #f9f9f9;
  margin-top: 5px;
  transition: 0.5s;
}

.top-menu ul li ul li a:after {
  content: "▼";
  font-size: 0px;
}

.open-close-menu {
  display: none;
  cursor: pointer;
  float: right;
}

.scroll {
  box-shadow: 0 0 10px black;
}

.sliderShop {
  width: 100%;
  padding-top: 76px;
  position: relative;
}
.sliderShop__img {
  width: 100%;
  height: 560px;
  background-size: cover;
}
.sliderShop__content {
  position: absolute;
  display: block;
  max-width: 600px;
  width: 50%;
  top: 50%;
  /* 3 */
  transform: translate(0, -50%);
}
.sliderShop__content__name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderShop__content__name__line {
  width: 20%;
  height: 2px;
  background: #78645d;
}
.sliderShop__content__name__text {
  font-family: "Luxury";
  font-size: 36px;
  line-height: 0;
  color: #78645d;
  padding: 0 10px;
}
.sliderShop__content__name__text2 {
  width: 100%;
  font-size: 96px;
  text-align: center;
  line-height: 0.75;
  margin: 0 auto;
  font-family: "HelveticaNeueLTStd-HvCn";
  background: #6B3612;
  background: -webkit-linear-gradient(to right, #6B3612 12%, #CF9C25 100%);
  background: -moz-linear-gradient(to right, #6B3612 12%, #CF9C25 100%);
  background: linear-gradient(to right, #6B3612 12%, #CF9C25 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sliderShop__content__name__text3 {
  font-family: "HelveticaNeueLTStd-LtCn";
  text-align: center;
  font-size: 36px;
  color: #78645d;
  margin: 10px auto 0 auto;
  line-height: 0.8;
}
.sliderShop__content__name__line2 {
  width: 60%;
  height: 7px;
  background: #78645d;
  margin: 6px auto;
}
.sliderShop__content__name__line3 {
  width: 60%;
  height: 3px;
  background: #78645d;
  margin: 0px auto;
}
.sliderShop__content__name__button {
  text-align: center;
}
.sliderShop__content__name__button button {
  position: relative;
  background: #fd926d;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 1px;
  box-shadow: 0px 4px 1px 0px #B3745F;
  border: solid 2px #fd926d;
  cursor: pointer;
}
.sliderShop__content__name__button button:hover {
  background: #ffffff;
  color: #fd926d;
  border: solid 2px #fd926d;
  transition: 1s;
}

.sliderShop .slick-next {
  background: #ffffff;
  width: 40px;
  height: 120px;
  top: 50%;
  /* 3 */
  transform: translate(0, -50%);
}
.sliderShop .slick-next:hover {
  background: #ffffff;
}

.sliderShop .slick-next:before {
  content: url("../img/next_s.png");
  background: #ffffff;
  padding: 50px 14px;
}

.sliderShop .slick-prev {
  background: #ffffff;
  left: 0;
  z-index: 99;
  width: 40px;
  height: 120px;
  top: 50%;
  /* 3 */
  transform: translate(0, -50%);
}
.sliderShop .slick-prev:hover {
  background: #ffffff;
}

.sliderShop .slick-prev:before {
  content: url("../img/prev_s.png");
  background: #ffffff;
  padding: 50px 14px;
}

.sliderShop ul li button:before {
  font-size: 12px;
  color: #bebebe;
  opacity: 0.8;
  z-index: 99;
}

.sliderShop ul li.slick-active button:before {
  font-size: 12px;
  color: #fd926d;
  z-index: 1;
}

.first {
  position: relative;
  width: 100%;
  background: #ededed;
}
.first_contact {
  display: flex;
  width: 100%;
  margin: 0;
}
.first_contact-form {
  width: 50%;
  display: flex;
  align-items: center;
}
.first_contact-form p {
  color: #6b6b6b;
  font-size: 12px;
  padding: 2px 2px;
}
.first_contact-form p span input {
  margin: 8px 0;
  border: none;
}
.first_contact-form div p {
  max-width: 160px;
  width: 100%;
  margin: 0;
}
.first_contact-form div p input {
  padding: 10px 10px;
  width: 100%;
  font-style: italic;
}
.first_contact-form button {
  background: #fd926d;
  color: #f9f9f9;
  font-size: 28px;
  font-weight: bold;
  border: none;
  padding: 1px 10px;
  cursor: pointer;
  box-shadow: 0px 4px 1px 0px #B3745F;
}
.first_contact-social {
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.first_contact-social p {
  color: #6c6c6c;
  font-size: 12px;
  padding: 2px 2px;
  margin: 0;
}
.first_contact-social div {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.first_contact-social div:hover {
  background: #f7f7f7;
}
.first_contact-social img {
  padding: 0 16px;
  background-size: auto auto;
  cursor: pointer;
}

.advertising {
  width: 100%;
  padding: 45px 0;
  background: #f9f9f9;
}
.advertising_elem {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.advertising_elem_left {
  width: 50%;
}
.advertising_elem_left img {
  width: 100%;
  height: 100%;
}
.advertising_elem_right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.advertising_elem_right-top {
  width: 100%;
  height: 50%;
  margin: 0;
}
.advertising_elem_right-top img {
  width: 100%;
  height: 100%;
}
.advertising_elem_right-bottom {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}
.advertising_elem_right-bottom-l {
  width: 50%;
  height: 100%;
}
.advertising_elem_right-bottom-l img {
  width: 100%;
  height: 100%;
}

.payment {
  width: 100%;
  padding: 16px 0;
  background: #f7f7f7;
}
.payment_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.payment_block p {
  margin: auto 0;
  font-size: 14px;
  color: #414141;
}
.payment_block img {
  width: 60px;
  height: 50px;
  margin: 0 auto;
}

.footer_block-l {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_block-r {
  width: 35%;
  display: flex;
  justify-content: space-between;
}

.footer {
  width: 100%;
  padding: 25px 0 0 0;
  background: #ededed;
}
.footer_block {
  position: relative;
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer_block-content {
  width: 24%;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-self: auto;
}
.footer_block-content h2 {
  font-size: 16px;
  color: #544f4d;
}
.footer_block-content h3 {
  margin: 0;
  padding: 2px 0;
  font-size: 12px;
  color: #544f4d;
  font-weight: normal;
}
.footer_block-content img {
  width: 120px;
  height: 120px;
  margin: auto 0 auto 50px;
}
.footer_block-content-100 {
  width: 50%;
  display: flex;
  padding: 0 4px;
  justify-content: center;
  align-items: center;
}
.footer_block-content-100 img {
  width: 120px;
  height: 120px;
}
.footer_block-content-stores {
  width: 24%;
  display: flex;
  flex-direction: column;
}
.footer_block-content-stores h2 {
  font-size: 16px;
  color: #544f4d;
}
.footer_block-content-stores h3 {
  margin: 0;
  padding: 2px 0;
  font-size: 12px;
  color: #544f4d;
  font-weight: normal;
}
.footer_block-content-social {
  width: 50%;
  display: flex;
  padding: 0 4px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_block-content-social h2 {
  width: 100%;
  font-size: 16px;
  color: #544f4d;
}
.footer_block-content-social div img {
  margin: 0 3px;
  width: 40px;
  height: 40px;
}
.footer_block-bottom {
  width: 100%;
  margin: 22px 0 0 0;
  background: #000000;
}
.footer_block-bottom-content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer_block-bottom-content-l {
  width: 50%;
  display: flex;
  align-items: center;
}
.footer_block-bottom-content-l h4 {
  font-size: 12px;
  color: #8d8d8d;
  text-align: center;
}
.footer_block-bottom-content-r {
  width: 50%;
  min-width: 400px;
  display: flex;
  justify-content: flex-end;
}
.footer_block-bottom-content-r h4 {
  font-size: 12px;
  line-height: 0.5;
  color: #8d8d8d;
}

.accordion {
  background: #f7f7f7;
}
.accordion-tabs {
  display: none;
}
.accordion-tabs :focus {
  outline: none;
}
.accordion-item {
  border-bottom: 1px solid #eaeaea;
}
.accordion-item:last-child {
  border: none;
}
.accordion-item__label {
  margin: 0;
  padding: 1.25rem;
  cursor: pointer;
  transition: padding 0.2s ease;
  position: relative;
}
.accordion-item__label:after {
  content: "";
  height: 4px;
  width: 4px;
  position: absolute;
  top: -4px;
  right: 1.25rem;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-radius: 2px;
  transform: rotate(45deg);
  border-color: transparent #447fff #447fff transparent;
  opacity: 1;
  transition: opacity 0.1s ease;
}
.accordion-item__label:hover {
  background: #d3e1ff;
}
.accordion-item__container {
  padding: 0 1.25em;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: padding 0.2s ease, opacity 0.5s 0.15s ease;
}
.accordion-active {
  background: rgba(68, 127, 255, 0.1);
}
.accordion-active .accordion-item__label {
  padding-bottom: 0;
  cursor: inherit;
}
.accordion-active .accordion-item__label:hover {
  background: none;
}
.accordion-active .accordion-item__label:after {
  opacity: 0;
}
.accordion-active .accordion-item__container {
  padding: 1.25em;
  height: auto;
  opacity: 1;
}
.accordion-active .accordion-item__container p:first-child, .accordion-active .accordion-item__container h1:first-child, .accordion-active .accordion-item__container h2:first-child, .accordion-active .accordion-item__container h3:first-child, .accordion-active .accordion-item__container h4:first-child, .accordion-active .accordion-item__container h5:first-child, .accordion-active .accordion-item__container h6:first-child {
  margin-top: 0;
}
.accordion-active .accordion-item__container p:last-child, .accordion-active .accordion-item__container h1:last-child, .accordion-active .accordion-item__container h2:last-child, .accordion-active .accordion-item__container h3:last-child, .accordion-active .accordion-item__container h4:last-child, .accordion-active .accordion-item__container h5:last-child, .accordion-active .accordion-item__container h6:last-child {
  margin-bottom: 0;
}

.clearance {
  width: 100%;
  background: #ffffff;
}

.clearance_content {
  padding: 22px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.clearance_content-block {
  width: 50%;
  height: 2px;
  background: #6b6b6b;
}
.clearance_content img {
  width: 150px;
  height: 150px;
  margin: 0 16px;
}

.clearance_content_goods {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.clearance_content_goods-block {
  position: relative;
  width: 22%;
  margin: 8px 15px;
  min-width: 200px;
  text-align: center;
  transition: all 1s;
  box-shadow: 3px 4px 6px 0px #121212;
}
.clearance_content_goods-block:hover {
  transform: scale(1.05);
}
.clearance_content_goods-block:hover .container-caruosel__hover {
  display: block;
  cursor: pointer;
}
.clearance_content_goods-block .container-caruosel__hover {
  transition: all 2s ease-in-out;
  top: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 80%;
}
.clearance_content_goods-block img {
  width: 100%;
  height: 300px;
  background-size: contain;
}
.clearance_content_goods-block h3 {
  font-size: 12px;
  line-height: 1px;
  font-weight: 500;
}
.clearance_content_goods-block .product-price {
  color: #373737;
  font-size: 22px;
  font-weight: 500;
}
.clearance_content_goods-block-button {
  background: #fd926d;
  background: -webkit-linear-gradient(to right, #ffa687 0%, #6B3612 100%);
  background: -moz-linear-gradient(to right, #ffa687 0%, #6B3612 100%);
  background: linear-gradient(to right, #ffa687 0%, #6B3612 100%);
  box-shadow: 2px 3px 2px 1px rgba(107, 54, 18, 0.61);
  color: #f9f9f9;
  font-weight: 600;
  margin: 10px auto;
  padding: 12px 10px 4px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.clearance_content_goods-block-button:hover {
  box-shadow: 2px 3px 2px 1px #6B3612;
}

.sponsor {
  width: 100%;
  margin-top: 25px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: #ffffff;
}
.sponsor_line-f {
  width: 50%;
  height: 2px;
  background: #6b6b6b;
}
.sponsor a {
  width: 20%;
  min-width: 180px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #414141;
  font-weight: 600;
  text-align: center;
}

.sponsor_icons {
  width: 100%;
  background: #ffffff;
}

.sponsor_icons_block {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.sponsor_icons_block-content {
  margin: 8px 20px;
  width: 6%;
  max-width: 100px;
  max-height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sponsor_icons_block-content img {
  width: 100%;
  background-size: cover;
}

.sponsor_line-bottom {
  width: 100%;
  height: 2px;
  background: #6b6b6b;
  margin: 28px 0;
}

.sponsor_txt {
  text-align: center;
  font-weight: 600;
  background: #ffffff;
}
.sponsor_txt-max {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #414141;
  margin: 8px 0;
}
.sponsor_txt-min {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #999999;
  margin: 18px 0 36px 0;
}

@media (max-width: 1080px) {
  .slider-2 .slick-next {
    right: 30px !important;
  }

  .slider-2 .slick-prev {
    right: 80px !important;
  }
}
@media (max-width: 640px) {
  .accordion-item__label {
    display: block !important;
  }

  .clearance_content_goods-block {
    width: 46% !important;
    margin: 8px 8px !important;
    min-width: 150px;
  }

  .clearance_content_goods-block:nth-last-child(1) {
    display: block !important;
  }

  .sliderShop .slick-next {
    display: none !important;
  }

  .sliderShop .slick-prev {
    display: none !important;
  }

  .advertising_elem_left {
    width: 100%;
  }

  .advertising_elem_right {
    width: 100%;
  }

  .footer_block-l {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .footer_block-r {
    width: 80% !important;
  }

  .footer_block-content-social {
    justify-content: center;
    text-align: center;
  }

  .footer_block-content a {
    text-align: center;
  }

  .footer_block-content-stores a {
    text-align: center;
  }

  .sliderShop__content {
    width: 300px;
    margin: 0 auto;
  }

  .first {
    padding: 12px 0;
  }

  .first_contact {
    flex-wrap: wrap;
  }

  .first_contact-form {
    width: 100% !important;
    margin-bottom: 10px;
    justify-content: center;
  }

  .first_contact-social {
    width: 100%;
    justify-content: center;
  }

  .sliderShop__content {
    top: 50%;
    transform: translate(10%, -50%);
  }

  .products-slider .products-slider_img img {
    height: 300px !important;
  }

  .products-slider .products-slider_img_description {
    height: 300px !important;
  }

  .products-slider .products-slider_img {
    height: 300px !important;
  }

  .products-slider .products-slider_img_description h3 {
    padding: 0 !important;
  }

  .products-slider .slick-next {
    display: none !important;
  }

  .products-slider .slick-prev {
    display: none !important;
  }

  .woocommerce-breadcrumb {
    bottom: 50px;
  }

  .productsSection {
    padding: 100px 0 15px 0 !important;
  }

  .wc-tabs-wrapper .wc-tabs {
    min-width: 100px !important;
    padding: 5px 2px !important;
  }

  .entry-summary {
    width: 100% !important;
    min-width: 300px !important;
    padding: 14px 0 !important;
  }

  .woocommerce-product-gallery {
    min-width: 320px !important;
    width: 100% !important;
  }

  .products-slider {
    height: 350px;
  }
  .products-slider .products-slider_content {
    height: 340px;
    position: absolute;
    justify-content: center;
  }
  .products-slider .products-slider_content .products-slider_content-block-nametxt {
    background: #f7f7f7;
    line-height: 1 !important;
    padding: 0 2px;
    margin: 8px 0 !important;
  }
  .products-slider .products-slider_content .products-slider_content-block-price {
    line-height: 1 !important;
    background: #f7f7f7;
    padding: 0 2px;
    margin: 4px 0 !important;
  }
  .products-slider .products-slider_content .products-slider_content-block-desc {
    display: none;
  }
  .products-slider .products-slider_img {
    height: 340px;
    width: 100% !important;
  }
}
@media (min-width: 640px) {
  .accordion-tabs {
    width: 86%;
    display: flex;
    background: rgba(68, 127, 255, 0.1);
  }
  .accordion-tabs .accordion-tab {
    background: #f7f7f7;
    padding: 1rem 0.5rem;
    font: inherit;
    flex: 1;
    border: none;
    cursor: pointer;
    transition: background 0.1s ease;
  }
  .accordion-tabs .accordion-tab:hover {
    background: #fd926d;
    color: #f9f9f9;
    font-weight: 600;
    font-style: italic;
    transition: 1s;
  }
  .accordion-tabs .accordion-tab:last-child {
    border-right: 0;
  }
  .accordion-tabs .accordion-tab.accordion-active {
    background: #fd926d;
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 600;
  }

  .accordion-item {
    display: none;
    border: none;
    background: #fd926d;
    color: #f9f9f9;
  }
  .accordion-item__label, .accordion-item__container {
    padding: 0;
    transition: inherit;
  }
  .accordion-item.accordion-active {
    display: block;
  }
  .accordion-item.accordion-active .accordion-item__container {
    padding: 0;
  }
}
.accordion-item__label {
  display: none;
}

* {
  box-sizing: border-box;
}

.accordion {
  position: relative;
  width: 100%;
}
.accordion + p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 2rem;
}

.slider-2 {
  background: #fd926d;
  padding: 2px 0;
}

.container-caruosel {
  position: relative;
  background: #f9f9f9;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
  transition: all 1s;
  box-shadow: 3px 4px 6px 0px #121212;
}
.container-caruosel:hover {
  transform: scale(1.05);
}
.container-caruosel:hover .container-caruosel__hover {
  display: block;
  transform: scale(1.05);
  cursor: pointer;
}
.container-caruosel__hover {
  top: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 80%;
}
.container-caruosel__hover img {
  position: relative;
  width: 130px !important;
  height: 130px !important;
  margin: 0 auto;
  top: 50%;
  /* 3 */
  transform: translate(0, -50%);
}
.container-caruosel h3 {
  color: #373737;
  font-size: 12px;
  font-weight: bold;
  margin: 16px 0 16px 0;
}
.container-caruosel .product-price {
  color: #373737;
  font-size: 22px;
  margin: 0 auto;
  line-height: 4px;
}
.container-caruosel img {
  margin-bottom: 16px;
  width: 100%;
  height: 300px;
  background-size: cover;
}
.container-caruosel .add_to_cart_button {
  margin-top: 22px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  nav ul li {
    display: block !important;
    background: #f9f9f9;
    float: left;
    text-align: center;
  }

  .fancyNav {
    line-height: 1;
    position: fixed;
    margin-top: 41px;
    width: 100%;
    left: 0;
  }

  nav ul {
    display: none;
  }

  .top-menu {
    justify-content: space-between;
  }

  .open-close-menu {
    display: block;
    right: 0;
    top: 12px;
    position: absolute;
  }

  .strip {
    width: 45px;
    height: 3px;
    background: #fd926d;
    margin: 8px 0;
  }

  .top-menu ul li {
    padding: 8px 10px;
    width: 95%;
  }

  .top-menu ul li a {
    font-size: 24px;
  }

  .top-menu ul li ul li a {
    display: none;
  }

  .top-menu ul:hover a {
    display: block;
    position: relative;
    color: #000000;
    float: none;
  }

  .top-menu ul li ul {
    position: relative;
  }

  .footer_block-bottom-content-r {
    justify-content: center;
  }

  .woocommerce-breadcrumb {
    top: 80px !important;
  }

  .clearance_content_goods-block:nth-last-child(1) {
    display: none;
  }

  .clearance_content_goods-block {
    width: 30%;
    min-width: 250px;
    margin: 8px 0;
  }

  .footer_block-l {
    width: 50%;
  }

  .footer_block-r {
    width: 50%;
    align-items: flex-start;
  }

  .footer_block-content-100 img {
    margin-top: 20px;
  }

  .footer_block-content {
    width: 50%;
  }

  .footer_block-content-stores {
    width: 50%;
  }
}
a {
  text-decoration: none;
}

.ds {
  width: 240px;
  background: #4b0303;
  color: cornsilk;
}

.blog {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog_image {
  width: 100%;
  height: 400px;
  z-index: 1;
}
.blog_image img {
  width: 100%;
  height: 100%;
  background-size: contain;
}
.blog .blog_txt {
  width: 36%;
  height: 100%;
  padding-top: 5%;
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blog .blog_txt-max {
  margin: 0 auto;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.blog .blog_txt-min {
  font-size: 16px;
  font-style: italic;
  color: #ffffff;
  cursor: pointer;
}
.blog .blog_txt-line {
  margin-top: 8px;
  color: #ffffff;
}

.blog_block {
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.blog_block_content {
  width: 32%;
  min-width: 300px;
  margin: 5px 3px;
  padding: 5px 6px;
  margin: 5px 0;
  background: #ffffff;
  cursor: pointer;
  transition: 1s;
}
.blog_block_content:hover {
  background: #eaeaea;
}
.blog_block_content img {
  width: 100%;
}
.blog_block_content_txt-max {
  width: 75%;
  font-size: 16px;
  font-weight: 600;
  color: #3e3d3d;
}
.blog_block_content_date {
  font-size: 14px;
  color: #3e3d3d;
  font-style: italic;
  margin: 0;
}
.blog_block_content_txt-min {
  width: 100%;
  font-size: 14px;
  font-weight: 550;
  color: #3e3d3d;
  letter-spacing: 2px;
}
.blog_block_content button {
  padding: 12px 25px;
  cursor: pointer;
  transition: 1s;
}
.blog_block_content button:hover {
  color: #f7f7f7;
  background: #fd926d;
  border: solid 2px #f7f7f7;
}

.productsSection {
  width: 100%;
  padding: 100px 0 50px 0;
  background: #ffffff;
}
.productsSection_content {
  background: #ffffff;
  width: 100%;
}

.products-slider {
  width: 100%;
  height: 380px;
  position: relative;
}
.products-slider .products-slider_content {
  width: 40%;
  height: 380px;
  float: right;
}
.products-slider .products-slider_content .products-slider_content-block {
  width: 100%;
  height: 380px;
  padding: 0 32px 0 18px;
  float: right;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.products-slider .products-slider_content .products-slider_content-block-nametxt {
  font-size: 24px;
  line-height: 1;
  color: #4a4a4a;
  font-family: "Times New Roman", Times, serif;
}
.products-slider .products-slider_content .products-slider_content-block-price {
  color: #fd926d;
  font-size: 36px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 0.5;
  margin: 10px 0 16px 0;
}
.products-slider .products-slider_content .products-slider_content-block-desc {
  font-size: 12px;
  width: 84%;
  margin: 10px 0;
  color: #8f8f8f;
}
.products-slider .products-slider_content .products-slider_content-block-button {
  position: relative;
  margin: 10px 0;
  background: #fd926d;
  color: #ffffff;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 1px;
  box-shadow: 0px 4px 1px 0px #b3745f;
  border: solid 2px #fd926d;
  cursor: pointer;
  transition: 0.5s;
}
.products-slider .products-slider_content .products-slider_content-block-button:after {
  padding-left: 5px;
  content: "⮞";
  font-size: 14px;
  color: #f9f9f9;
  transition: 0.5s;
}
.products-slider .products-slider_content .products-slider_content-block-button:hover::after {
  color: #fd926d;
}
.products-slider .products-slider_content .products-slider_content-block-button:hover {
  background: #f9f9f9;
  border: solid 2px #f9f9f9;
  color: #fd926d;
}
.products-slider .products-slider_img {
  height: 380px;
  width: 60%;
  background-size: contain;
}

.productsSection_content ul li button:before {
  font-size: 12px;
  color: #bebebe;
  opacity: 0.8;
  z-index: 99;
}

.productsSection_content ul li.slick-active button:before {
  font-size: 12px;
  color: #fd926d;
  z-index: 1;
}

.woocommerce-products-header__title {
  display: none;
}

.woocommerce-breadcrumb {
  position: relative;
  top: 95px;
  margin: 0 auto;
  padding: 3px 42px;
  width: 100%;
  max-width: 1080px;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

.woocommerce-breadcrumb a {
  color: #fd926d;
}

.site-main {
  background: #f7f7f7;
}
.site-main .products {
  position: relative;
  width: 75%;
  margin: 0px auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
}
.site-main .products li {
  min-width: 212px;
  width: 30%;
  margin: 8px 8px;
  background-size: contain;
  box-shadow: 3px 4px 6px 0px #121212;
}
.site-main .products li a img {
  height: 300px;
  width: 100%;
  background-size: cover;
}

ul.products li.product .woocommerce-loop-product__title {
  color: #373737;
  text-align: center;
  font-size: 16px;
  margin: 2px 0;
  text-transform: uppercase;
}

ul.products li.product .price {
  color: #373737;
  font-size: 24px;
  margin: 0;
}

a.button {
  padding: 7px 10px;
  font-size: 16px;
  background: #fd926d;
  box-shadow: 0px 4px 1px 0px #b3745f;
  color: #f9f9f9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 12px 0 16px 0;
  transition: 1s;
}
a.button:after {
  margin-left: 12px;
  font-weight: 900;
  content: "✚";
}
a.button:hover {
  color: #fd926d;
  background: #ffffff;
}

.woocommerce-pagination {
  bottom: 0;
  left: 60%;
  background: #f7f7f7;
  position: absolute;
}

.woocommerce-pagination a.page-numbers {
  background: #f4f4f4;
  color: #000000;
  transition: 0.5s;
}
.woocommerce-pagination a.page-numbers:hover {
  background: #e5e5e5;
}

.woocommerce-pagination span.page-numbers {
  background: #e5e5e5;
  color: #000000;
}

.woocommerce-pagination .next.page-numbers::before {
  padding: 1rem;
  content: "⮞";
  padding: 0;
  color: #000000;
}

.woocommerce-pagination .next.page-numbers {
  color: rgba(255, 255, 255, 0);
}

.woocommerce-pagination .prev.page-numbers::before {
  padding: 1rem;
  content: "⮜";
  padding: 0;
  color: #000000;
}

.woocommerce-pagination .prev.page-numbers {
  color: rgba(255, 255, 255, 0);
}

.sid {
  padding: 86px 10px 6px 10px;
  background: #f7f7f7;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
}

ul.products li.product .woocommerce-loop-product__link {
  width: 100%;
}

.a12 {
  width: 25%;
  position: relative;
  z-index: 98;
  top: 0px;
  padding: 0px 0px 0px 12px;
  text-transform: uppercase;
}
.a12 > button {
  background: red;
  display: none;
}

.footer {
  background: #f7f7f7;
}

.price_slider_wrapper {
  width: 100%;
  position: relative;
  top: 0;
}

.widget_layered_nav_filters .h3 {
  font-size: 12px;
  background: #000000;
  color: #f9f9f9;
  text-transform: uppercase;
  font-weight: 500;
  padding: 10px 10px;
}

.widget_price_filter .price_slider_wrapper .ui-widget-content {
  margin: 12px 10px;
}

.widget_price_filter .h3 {
  padding: 16px 0 2px 0;
  font-size: 12px;
}

.price_slider_amount .button {
  font-size: 14px;
  background: #fd926d;
  box-shadow: 2px 3px 2px 1px rgba(107, 54, 18, 0.61);
  color: #f9f9f9;
  font-weight: 600;
  padding: 9px 3px;
  border: none;
  cursor: pointer;
  transition: 1s;
}
.price_slider_amount .button:hover {
  background: #f9f9f9;
  color: #fd926d;
}

.widget_price_filter .ui-slider-horizontal .ui-slider-range {
  background: #fd926d;
}

.widget_price_filter .ui-slider .ui-slider-handle {
  background: #fd926d;
}

.wc-block-product-search .wc-block-product-search__field {
  width: 100%;
}

.widget_text p {
  font-size: 12px;
  background: #000000;
  color: #f9f9f9;
  padding: 10px 10px;
}

.wc-block-product-search .wc-block-product-search__button {
  background: #fd926d;
  color: #f9f9f9;
  border: #fd926d;
  transition: 1s;
}
.wc-block-product-search .wc-block-product-search__button:hover {
  background: #f9f9f9;
  color: #fd926d;
}

.widget_shopping_cart {
  margin-top: 12px;
  font-size: 12px;
}

.widget_shopping_cart .h3 {
  background: #000000;
  color: #f9f9f9;
  padding: 10px 10px;
}

.woocommerce-widget-layered-nav {
  font-size: 12px;
}

.woocommerce-widget-layered-nav .h3 {
  background: #000000;
  color: #f9f9f9;
  padding: 10px 10px;
}

.woocommerce-widget-layered-nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 5px 0;
  color: #000000;
  text-align: center;
}

.widget_layered_nav_filters {
  font-size: 16px;
  font-weight: bold;
}

.chosen a {
  color: #6B3612;
}

.wc-layered-nav-term {
  margin: 5px 5px;
  width: 38%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.wp-block-preformatted {
  font-size: 12px;
  font-family: Times, Times New Roman, serif;
  background: #000000;
  color: #f9f9f9;
  padding: 10px 10px;
}

.wc-layered-nav-term a {
  color: #fd926d;
}

.widget_layered_nav_filters ul {
  margin: 8px 0;
}

.widget_layered_nav_filters ul .chosen a {
  font-size: 12px;
  color: #fd926d;
}

.wc-block-grid.has-3-columns .wc-block-grid__product {
  flex: 1 0 33.33333%;
  max-width: 50%;
  min-width: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.wc-block-product-categories-list li {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

.wc-block-product-categories-list li a {
  list-style: none;
  color: #fd926d;
  font-size: 12px;
  font-weight: bold;
}

.woocommerce-mini-cart-item a {
  color: #6B3612;
}

.wc-block-grid__products {
  justify-content: center;
}

.wc-block-grid__products .wc-block-grid__product-image img {
  height: 151px;
  width: auto;
  max-width: 100%;
  background-size: cover;
}

.widget_block {
  display: block;
}

.widget_block h2 {
  font-size: 12px;
  background: #000000;
  color: #f9f9f9;
  padding: 10px 10px;
  font-weight: 500;
}

.wc-block-grid__product-add-to-cart a {
  background: #fd926d;
  color: #f9f9f9;
  box-shadow: 2px 3px 2px 1px rgba(107, 54, 18, 0.61);
}
.wc-block-grid__product-add-to-cart a:hover {
  background: #f9f9f9;
  color: #fd926d;
}

.wc-block-grid__product-title {
  color: #000000;
  font-size: 16px;
}

.woocommerce-ordering {
  position: absolute;
  top: 0;
  margin-top: 12px;
}

@media screen and (max-width: 768px) {
  .products-slider {
    height: 350px;
  }
  .products-slider .products-slider_content {
    height: 340px;
  }
  .products-slider .products-slider_content .products-slider_content-block {
    height: 340px;
  }
  .products-slider .products-slider_content .products-slider_content-block-nametxt {
    line-height: 0.5;
  }
  .products-slider .products-slider_content .products-slider_content-block-price {
    line-height: 0.1;
    margin: 10px 0 16px 0;
  }
  .products-slider .products-slider_content .products-slider_content-block-desc {
    min-width: 180px;
    margin: 5px 0;
    object-fit: contain;
  }
  .products-slider .products-slider_img {
    height: 340px;
  }

  .sliderShop__img {
    height: 400px;
  }

  .wc-block-grid.has-3-columns .wc-block-grid__product {
    width: 100%;
    min-width: 100%;
  }

  .wc-block-grid__products .wc-block-grid__product-image img {
    width: 100%;
    height: 210px;
    padding: 5px;
  }

  .widget_block .wc-block-grid {
    display: none;
  }

  .widget_block h2 {
    display: none;
  }

  #buttonFilter {
    display: block;
  }

  .buttonFilter input {
    display: block;
    cursor: pointer;
    background: #fd926d;
    border: #fd926d;
    color: #f9f9f9;
    padding: 10px 14px;
    font-size: 12px;
    text-transform: uppercase;
    box-shadow: 0px 4px 1px 0px #b3745f;
    margin: 0 auto;
  }
  .buttonFilter input:hover {
    background: #f9f9f9;
    color: #fd926d;
  }

  #buttonFilter #div11 {
    display: none;
  }

  .a12 {
    display: none;
  }

  .blockFilter {
    margin: 0 auto;
    width: 100%;
    max-width: 478px;
    padding: 12px 0;
  }
  .blockFilter .widget {
    width: 100%;
  }

  .site-main .products {
    width: 100%;
  }

  .woocommerce-pagination {
    left: revert;
    right: 32px;
    bottom: -60px;
  }

  .woocommerce-pagination span.page-numbers {
    padding: 1rem;
  }

  .woocommerce-pagination .next.page-numbers, .woocommerce-pagination .prev.page-numbers, .woocommerce-pagination a.page-numbers, .woocommerce-pagination span.page-numbers {
    padding: 1rem;
  }

  .products-slider .products-slider_img {
    height: 340px;
  }

  .products-slider .products-slider_img img {
    height: 340px;
    width: 100%;
  }

  .products-slider .products-slider_img_description h2 {
    font-size: 28px;
    line-height: 1;
  }

  .products-slider .slick-list .slick-track .slick-initialized .slick-slide {
    display: flex;
  }

  .products-slider .products-slider_img_description {
    height: 340px;
    width: 100%;
    position: absolute;
    background: #ffffff00;
    margin: 0 auto;
    text-align: center;
    padding: 0;
  }
  .products-slider .products-slider_img_description h3 {
    padding: 0 60px;
  }

  .woocommerce-product-gallery {
    margin-top: 25px;
  }

  .single_product_content .content-area .woocommerce-breadcrumb {
    top: 0 !important;
  }
}
.single_product_content .content-area .woocommerce-breadcrumb {
  top: -5px;
  padding: 5px 10px;
  z-index: 99;
}

.single_product_content {
  padding: 86px 0 0 0;
}

.product-type-simple {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.woocommerce-product-gallery {
  position: relative;
  margin-bottom: 3rem;
  width: 42%;
  min-width: 420px;
  margin: 0 2px 3rem 2px;
  float: left;
}

.woocommerce-product-gallery img {
  width: 100%;
}

.flex-control-nav {
  padding: 0;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.woocommerce-product-gallery--columns-4 .flex-control-thumbs li {
  width: 24%;
  margin: 0 2px;
}

.entry-summary {
  width: 55%;
  min-width: 475px;
  padding: 38px 24px;
  float: left;
}

.wc-tabs-wrapper .wc-tabs {
  background: #fd926d;
  float: inline-end;
  min-width: 500px;
  width: 100%;
  padding: 5px 32px;
  list-style: none;
  display: flex;
}

.woocommerce-tabs {
  width: 100%;
}

.woocommerce-tabs ul li a {
  color: #f9f9f9;
}

.woocommerce-tabs ul li.active a {
  color: #f9f9f9;
  box-shadow: 0 2px 0 #f9f9f9;
}

.comment-form-comment {
  display: flex;
  flex-direction: column;
}

.form-submit input {
  background: #fd926d;
  color: #f9f9f9;
  border: none;
  cursor: pointer;
  padding: 7px 10px;
  font-size: 16px;
  box-shadow: 0px 4px 1px 0px #b3745f;
  transition: 1s;
}
.form-submit input:hover {
  background: #f9f9f9;
  color: #fd926d;
}

.woocommerce-product-attributes-item__value p a {
  color: #fd926d;
}

.woocommerce-product-attributes-item__value p {
  color: #fd926d;
}

.woocommerce-result-count {
  position: absolute;
  top: 0;
  margin-top: 34px;
}

.posted_in a {
  color: #fd926d;
}

.woocommerce-Tabs-panel {
  padding: 0 32px;
}

.entry-title {
  font-size: 24px;
  color: #4a4a4a;
}

.entry-summary .woocommerce-Price-amount {
  color: #fd926d;
  font-size: 36px;
  font-weight: bold;
  line-height: 20px;
}

.woocommerce-variation-price {
  padding: 8px 0;
}

.quantity input {
  width: 42px;
  text-align: center;
  font-size: 16px;
  background-color: #fd926d;
  color: #f9f9f9;
}

.single_add_to_cart_button {
  background: #fd926d;
  color: #f9f9f9;
  cursor: pointer;
  font-weight: 600;
  padding: 7px 10px;
  border: none;
  font-size: 16px;
  box-shadow: 0px 4px 1px 0px #b3745f;
  margin: 10px 0;
  transition: 1s;
}
.single_add_to_cart_button:hover {
  background: #f9f9f9;
  color: #fd926d;
}

.type-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.related h2 {
  width: 100%;
}

.site-main .columns-4 {
  width: 90%;
}

.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
  line-height: 1;
  border-radius: 5px;
  transition: 1s;
}

.variations_form .variations .value select {
  margin: 2px 5px;
  padding: 2px;
  background: #fd926d;
  color: #f9f9f9;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}

.product-home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background: yellowgreen;
}
.product-home-content {
  margin: 0;
  position: relative;
  width: 20%;
  text-align: center;
  background: #fd926d;
}

.blockFilter {
  display: none;
}

.buttonFilter {
  display: none;
}
/*# sourceMappingURL=main.css.map */
